.Form {
  display:grid;
  .Label:not(:last-child) {
    margin-bottom: 2rem;
  }

  .Input:first-child {
    margin-top: 2rem;
  }

  .Input:placeholder-shown + .Label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }


}
